body {
    background-color: #e2e2e2;
}

.cards {
    display: grid;
    /* grid-template-columns: repeat(3, 1fr); */
    justify-content: center;
    align-items: center;
    /* gap: 3rem; */
    margin: 5rem;
     position: relative;
     overflow: hidden;

}

.design5 .menu-image {
    width: 200px;
    height: 200px;
    overflow: hidden;
    border-radius: 50%;
    margin: auto;

}

.design5 .menu-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;


}

.design5 .logo img {
    width: 3rem;
    border-radius: 50%;
}

.design5 .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}

.design5 .card-description {
    text-align: center;
    font-size: 12px;
    margin-left: 2rem;
    margin-right: 2rem;
    margin-bottom: 1rem;

}


.design5 .card {
    background:
        url("../images/bg-white.png") center 100% no-repeat,
         linear-gradient(180deg, #cc1a0f 70%, #ffff 30%);

     background-size:
        100% auto,
        cover;  
    border: none;
    border-radius: 15px;
    color: #fff;
    overflow: hidden;
 
}



.design5 .card {
    position: relative;
    overflow: hidden;
}

.design5 .bg-texture {
    position: absolute;
    top: 5%;
    left: 0;
    width: 100%;
    transform: translateY(-50%);
    z-index: 2; /* behind text */
}

.design5 .bg-texture img {
    width: 100%;
    height: auto;
    opacity: 0.9;
    border-radius: 15px;
}

.design5 .card-body {
    position: relative;
    z-index: 2; 
}

.design5 .card-heading1,
.design5 .card-heading2 {
    position: relative;
    z-index: 3; 
}

.design5 .card-heading1 {
    margin-top: 2rem;
}

.design5 .card-heading2 {

    font-family: "Anton", sans-serif;
    font-weight: 900;
    font-size: 65px;
    line-height: 0.9;
    color: #ffffff;
    margin-bottom: 0.5rem;
    letter-spacing: 0.1rem;
    margin-bottom: 0.5rem;
}

.design5 .restaurant-address {
    font-size: 0.7rem;

}

.design5 .contact-number,
.website {
    font-weight: 200;
    font-size: 0.7rem;
}

.design5 .order-now {
    display: flex;
    justify-content: center;
    align-items: baseline;
    margin-bottom: 1rem;

}

.design5 .order-now .btn {
    
    background-color: #ffffff; 
    color: #b72e37;           
    font-size: 0.7rem;
    font-weight: 700;      
    padding: 6px 18px;       
    border-radius: 5px;      
    border: none;     
}



