body {
    background-color: #e2e2e2;
}

.cards {
    display: grid;
    /* grid-template-columns: repeat(3, 1fr); */
    justify-content: center;
    align-items: center;
    /* gap: 3rem; */
    margin: 5rem;

}

.design2 .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}

.design2 .logo img {

    width: 3rem;
    border-radius: 50%;

}

.design2 .card {
    background:
        url("../images/drop-design.png"),
        #b33a06;

    background-size:
        cover;

    border: none;
    border-radius: 15px;
    color: #fff;
}

.design2 .menu-image {

    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
}

.design2 .menu-image img {

    width: 80%;
    border-radius: 1rem;

}

.design2 .card-description {
    margin-top: 0.5rem;
    margin-left: 2rem;
    margin-right: 2rem;
    margin-bottom: 1rem;
}

.design2 .card-text {
    text-align: center;
    font-size: 8px;
}

/* .design2 .card-heading1{
      font-family: "Lavishly Yours", cursive;
      font-size: 36px;
}

.design2 .card-heading2{
      font-family: "Montserrat", sans-serif;
      font-size: 36px;
      font-weight: 800;
} */


.design2 .card-heading1 {
    font-family: "Lavishly Yours", cursive;
    font-size: 36px;
    margin: 0;
    line-height: 1.1;
}

.design2 .card-heading2 {
    font-family: "Montserrat", sans-serif;
    font-size: 36px;
    font-weight: 800;
    margin: 0;
    line-height: 1.1;
    margin-top: -6px;
    margin-bottom: 1.5rem;
}

.design2 .contact-number,
.website {
    font-weight: 200;
    font-size: 0.7rem;
}

.design2 .restaurant-address {
    font-size: 0.7rem;

}