body{
    background-color: #f4f4f4;
}

.cards {
    /* height: auto; */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    align-items: start;
    gap: 3rem ;
    margin: 5rem;

}

.card1 .card {
    background:
        url("/assets/images/texture-card1.png"), 
        linear-gradient(188deg, #07171d 50%, #b43439 50%);
      
    background-size:
    200px,  /* increase texture scale */
    cover;
    background-blend-mode: overlay; 
    
    border: none;
    border-radius: 15px;
    color: #fff;
}
.card1 .menu-image{
    display: flex;
    justify-content: center;
    align-items: center;
}


.card1 .card-heading1 .text-center,
.card1 .card-heading2 .text-center {
    font-family: "Barlow Semi Condensed", sans-serif;
    font-weight: 800;
    font-size: 40px;
    margin: 0;             
    line-height: 1.05;     
}


.card1 .card-heading2 .text-center {
    margin-top: -6px;       
    margin-bottom: 3rem;
}

.card1 .card-heading1 {
    margin-top: 3rem;
}


.card1 .card-description{
    margin-top: 0.5rem;
    margin-left: 2rem;
    margin-right: 2rem;
}
.card1 .card-text{
    text-align: center;
    font-size: 8px;
}

.card1 .contact-details{
    display: flex;
}

.card1 .contact-number, .website {
    font-weight: 200;
    font-size: 0.7rem;
}

.card1 .logo-badge img{
    width: 3rem;
    border-radius: 50%;
}

.card1 .restaurant-name {
    font-size: 0.8rem;
    /* letter-spacing: 1px;  */
}

.card1 .restaurant-address{
    font-size: 0.7rem;

}

.menu-wrapper {
    position: relative;
    display: flex;
    justify-content: center;
    margin-top: -40px; 
    margin-bottom: 2rem;
}

.card1 .menu-item {
    width: 12rem;
    border-radius: 50%;
    border: 8px solid #c60309;
}

.card1 .logo-badge {
    position: absolute;
    bottom: -25px; 
    left: 50%;
    transform: translateX(-50%);
    border-radius: 50%;
    border: 4px solid #f10000; 
    display: flex;
    align-items: center;
    justify-content: center;
}




/* card 2 styles */

.card2 .logo{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}

.card2 .logo img{

    width: 3rem ;
    border-radius: 50%;

}

.card2 .card {
    background:
        url("/assets/images/drop-design.png"), 
        #b33a06;
      
   background-size:
    cover;
    
    border: none;
    border-radius: 15px;
    color: #fff;
}

.card2 .menu-image{

    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
}

.card2 .menu-image img{

    width: 80%;
    border-radius: 1rem;

}

.card2 .card-description{
    margin-top: 0.5rem;
    margin-left: 2rem;
    margin-right: 2rem;
    margin-bottom: 1rem;
}
.card2 .card-text{
    text-align: center;
    font-size: 8px;
}

/* .card2 .card-heading1{
      font-family: "Lavishly Yours", cursive;
      font-size: 36px;
}

.card2 .card-heading2{
      font-family: "Montserrat", sans-serif;
      font-size: 36px;
      font-weight: 800;
} */


.card2 .card-heading1{
    font-family: "Lavishly Yours", cursive;
    font-size: 36px;
    margin: 0;
    line-height: 1.1;
}

.card2 .card-heading2 {
    font-family: "Montserrat", sans-serif;
    font-size: 36px;
    font-weight: 800;
    margin: 0;
    line-height: 1.1;
    margin-top: -6px; 
    margin-bottom: 1.5rem; 
}

.card2 .contact-number, .website {
    font-weight: 200;
    font-size: 0.7rem;
}

.card2 .restaurant-address{
    font-size: 0.7rem;

}


/* card 3 style */


.card3 .logo img{
    width: 3rem ;
    border-radius: 50%;
}

.card3 .logo{
    display: flex;
    justify-content: end;
    align-items: center;
    margin: 1rem 1rem 0 0;
}

.card3 .menu-image{

    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0.5rem;
}

.card3 .menu-image img{

    width: 100%;
    margin-bottom: 1rem;

}

.card3 .card-heading1{

     font-family: "Sacramento", cursive;
     font-size: 24px;
}

.card3 .card-heading2{

     font-family: "League Spartan", sans-serif;
     font-weight: 900;
     font-size: 50px;
     line-height: 0.9;
     color: #cc1a0f;
     margin-bottom: 0.5rem;
}

.card3 .card-text{
    font-size: 10px;
}

.card3 .card-description{

    margin-bottom: 1rem;
    font-family: 'Times New Roman', Times, serif;
}

.card3 .restaurant-address{

    font-size: 10px;
}

.card3 .contact-number, .website {
    font-weight: 200;
    font-size: 0.7rem;
}

.card3 .restaurant-address{
    font-size: 0.7rem;

}


.card3 .card {
    background:
        url("/assets/images/texture-tom.png")
        #fff;
      
   background-size:
    cover;
    
    border: none;
    border-radius: 15px;
}


.card3 .card-footer-custom {
    background-color: transparent;    
    color: #000;               
    border-top: none;          
    padding: 1rem 1.5rem;      
    border-radius: 0 0 15px 15px; 
}


/* card style 4 */

.card4 .logo img{
    width: 3rem ;
    border-radius: 50%;
}

.card4 .logo{
    display: flex;
    justify-content: end;
    align-items: center;
    margin: 1rem 1rem 0 0;
}

.card4 .menu-image{

    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0.5rem;
}

.card4 .menu-image img{

    width: 100%;
    margin-bottom: 0.8rem;

}


.card4 .card {
    background: linear-gradient(to bottom left, #eab867 50%, #b72e37 50%);
    border: none;
    border-radius: 15px;
    color: #fff;
}

.card4 .card-heading {
    width: 80%;
    font-size: 60px;
    color: #eab867;
    font-family: 'Barlow Semi Condensed', sans-serif;
    letter-spacing: 1px;
    line-height: 3.5rem;
    font-weight: 900;
    -webkit-text-stroke: 5px #b33a06;
    -webkit-text-fill-color: #ffecb2;

    margin-bottom: 1rem;
    line-height: 0.7;

}


.card4 .card-text{
    font-size: 10px;
}

.card4 .card-description{

    margin-bottom: 0.5rem;
    width: 80%;
    color: #eab867;
    /* font-family: 'Times New Roman', Times, serif; */
}

.card4 .contact-number, .card4 .website {
    font-weight: 200;
    font-size: 0.7rem;
    color: #eab867;
}

.card4 .restaurant-address{
    font-size: 0.7rem;

}

.card4 .restaurant-name {
    font-size: 0.8rem;
    /* letter-spacing: 1px;  */
}

.card1 .restaurant-address{
    font-size: 0.7rem;

}



/* card 5 style  */


.card5 .menu-image {
    width: 200px;
    height: 200px;
    overflow: hidden;
    border-radius: 50%;
     margin: 0 auto;
    
}

.card5 .menu-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    
    
}

.card5 .logo img{
    width: 3rem ;
    border-radius: 50%;
}

.card5 .logo{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem;
}

.card5 .card-description{
    text-align: center;
    font-size: 12px;
    margin-left: 2rem;
    margin-right: 2rem;
    margin-bottom: 1rem;
    
}


.card5 .card {
    background:
     url("/assets/images/bg-white.png"),  #cc1a0f;
           
    background-size:
    cover;
    border: none;
    border-radius: 15px;
    color: #fff;
}

.card5 .card-heading1{
    margin-top: 1rem;
    font-family: "Lexend Deca", sans-serif;
     font-size: 24px;
}

.card5 .card-heading2{

      font-family: "Anton", sans-serif;
     font-weight: 900;
     font-size: 65px;
     line-height: 0.9;
     color: #ffffff;
     margin-bottom: 0.5rem;
     letter-spacing: 0.1rem;
     margin-bottom: 0.5rem ;
}

.card5 .restaurant-address{
    font-size: 0.7rem;

}

.card5 .contact-number, .website {
    font-weight: 200;
    font-size: 0.7rem;
}