body {
    background-color: #e2e2e2;
}

.cards {
    /* height: auto; */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    align-items: start;
    gap: 3rem;
    margin: 5rem;

}

/* Tablet view (≤992px) */
@media (max-width: 992px) {
    .cards {
        grid-template-columns: repeat(2, 1fr);
        margin: 3rem;
        gap: 2rem;
    }
}

/* Mobile view (≤576px) */
@media (max-width: 576px) {
    .cards {
        grid-template-columns: 1fr;
        margin: 2rem;
        gap: 1.5rem;
    }
}

.design1 .card {
    background:
        url("../images/texture-design1.png"),
        linear-gradient(188deg, #07171d 50%, #b43439 50%);

    background-size:
        200px,
        /* increase texture scale */
        cover;
    background-blend-mode: overlay;

    border: none;
    border-radius: 15px;
    color: #fff;
}

.design1 .menu-image {
    display: flex;
    justify-content: center;
    align-items: center;
}


.design1 .card-heading1 .text-center,
.design1 .card-heading2 .text-center {
    font-family: "Barlow Semi Condensed", sans-serif;
    font-weight: 800;
    font-size: 40px;
    margin: 0;
    line-height: 1.05;
}


.design1 .card-heading2 .text-center {
    margin-top: -6px;
    margin-bottom: 3rem;
}

.design1 .card-heading1 {
    margin-top: 3rem;
}


.design1 .card-description {
    margin-top: 0.5rem;
    margin-left: 2rem;
    margin-right: 2rem;
}

.design1 .card-text {
    text-align: center;
    font-size: 8px;
}

.design1 .contact-details {
    display: flex;
}

.design1 .contact-number,
.website {
    font-weight: 200;
    font-size: 0.7rem;
}

.design1 .logo-badge img {
    width: 3rem;
    border-radius: 50%;
}

.design1 .restaurant-name {
    font-size: 0.8rem;
    /* letter-spacing: 1px;  */
}

.design1 .restaurant-address {
    font-size: 0.7rem;

}

.menu-wrapper {
    position: relative;
    display: flex;
    justify-content: center;
    margin-top: -40px;
    margin-bottom: 2rem;
}

.design1 .menu-item {
    width: 12rem;
    border-radius: 50%;
    border: 8px solid #c60309;
}

.design1 .logo-badge {
    position: absolute;
    bottom: -25px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 50%;
    border: 4px solid #f10000;
    display: flex;
    align-items: center;
    justify-content: center;
}




/* card 2 styles */

.design2 .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}

.design2 .logo img {

    width: 3rem;
    border-radius: 50%;

}

.design2 .card {
    background:
        url("../images/drop-design.png"),
        #b33a06;

    background-size:
        cover;

    border: none;
    border-radius: 15px;
    color: #fff;
}

.design2 .menu-image {

    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
}

.design2 .menu-image img {

    width: 80%;
    border-radius: 1rem;

}

.design2 .card-description {
    margin-top: 0.5rem;
    margin-left: 2rem;
    margin-right: 2rem;
    margin-bottom: 1rem;
}

.design2 .card-text {
    text-align: center;
    font-size: 8px;
}

/* .design2 .card-heading1{
      font-family: "Lavishly Yours", cursive;
      font-size: 36px;
}

.design2 .card-heading2{
      font-family: "Montserrat", sans-serif;
      font-size: 36px;
      font-weight: 800;
} */


.design2 .card-heading1 {
    font-family: "Lavishly Yours", cursive;
    font-size: 36px;
    margin: 0;
    line-height: 1.1;
}

.design2 .card-heading2 {
    font-family: "Montserrat", sans-serif;
    font-size: 36px;
    font-weight: 800;
    margin: 0;
    line-height: 1.1;
    margin-top: -6px;
    margin-bottom: 1.5rem;
}

.design2 .contact-number,
.website {
    font-weight: 200;
    font-size: 0.7rem;
}

.design2 .restaurant-address {
    font-size: 0.7rem;

}


/* card 3 style */


.design3 .logo img {
    width: 3rem;
    border-radius: 50%;
}

.design3 .logo {
    display: flex;
    justify-content: end;
    align-items: center;
    margin: 1rem 1rem 0 0;
}

.design3 .menu-image {

    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0.5rem;
}

.design3 .menu-image img {

    width: 100%;
    margin-bottom: 1rem;

}

.design3 .card-heading1 {

    font-family: "Sacramento", cursive;
    font-size: 24px;
}

.design3 .card-heading2 {

    font-family: "League Spartan", sans-serif;
    font-weight: 900;
    font-size: 50px;
    line-height: 0.9;
    color: #cc1a0f;
    margin-bottom: 0.5rem;
}

.design3 .card-text {
    font-size: 10px;
}

.design3 .card-description {

    margin-bottom: 1rem;
    font-family: 'Times New Roman', Times, serif;
}

.design3 .restaurant-address {

    font-size: 10px;
}

.design3 .contact-number,
.website {
    font-weight: 200;
    font-size: 0.7rem;
}

.design3 .restaurant-address {
    font-size: 0.7rem;

}


.design3 .card {
    background:
        url("../images/texture-tom.png") #fff;

    background-size:
        cover;

    border: none;
    border-radius: 15px;
}


.design3 .card-footer-custom {
    background-color: transparent;
    color: #000;
    border-top: none;
    padding: 1rem 1.5rem;
    border-radius: 0 0 15px 15px;
}


/* card style 4 */

.design4 .logo img {
    width: 3rem;
    border-radius: 50%;
}

.design4 .logo {
    display: flex;
    justify-content: end;
    align-items: center;
    margin: 1rem 1rem 0 0;
}

.design4 .menu-image {

    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0.5rem;
}

.design4 .menu-image img {

    width: 100%;
    margin-bottom: 0.8rem;

}


.design4 .card {
    background: linear-gradient(to bottom left, #eab867 50%, #b72e37 50%);
    border: none;
    border-radius: 15px;
    color: #fff;
}

.design4 .card-heading {
    width: 80%;
    font-size: 60px;
    color: #eab867;
    font-family: 'Barlow Semi Condensed', sans-serif;
    letter-spacing: 1px;
    line-height: 3.5rem;
    font-weight: 900;
    -webkit-text-stroke: 5px #b33a06;
    -webkit-text-fill-color: #ffecb2;

    margin-bottom: 1rem;
    line-height: 0.7;

}


.design4 .card-text {
    font-size: 10px;
}

.design4 .card-description {

    margin-bottom: 0.5rem;
    width: 80%;
    color: #eab867;
    /* font-family: 'Times New Roman', Times, serif; */
}

.design4 .contact-number,
.design4 .website {
    font-weight: 200;
    font-size: 0.7rem;
    color: #eab867;
}

.design4 .restaurant-address {
    font-size: 0.7rem;

}

.design4 .restaurant-name {
    font-size: 0.8rem;
    /* letter-spacing: 1px;  */
}

.design1 .restaurant-address {
    font-size: 0.7rem;

}



/* card 5 style  */


.design5 .menu-image {
    width: 200px;
    height: 200px;
    overflow: hidden;
    border-radius: 50%;
    margin: 0 auto;

}

.design5 .menu-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;


}

.design5 .logo img {
    width: 3rem;
    border-radius: 50%;
}

.design5 .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem;
}

.design5 .card-description {
    text-align: center;
    font-size: 12px;
    margin-left: 2rem;
    margin-right: 2rem;
    margin-bottom: 1rem;

}


.design5 .card {
    background:
        url("../images/bg-white.png"), #cc1a0f;

    background-size:
        cover;
    border: none;
    border-radius: 15px;
    color: #fff;
}

.design5 .card-heading1 {
    margin-top: 1rem;
    font-family: "Lexend Deca", sans-serif;
    font-size: 24px;
}

.design5 .card-heading2 {

    font-family: "Anton", sans-serif;
    font-weight: 900;
    font-size: 65px;
    line-height: 0.9;
    color: #ffffff;
    margin-bottom: 0.5rem;
    letter-spacing: 0.1rem;
    margin-bottom: 0.5rem;
}

.design5 .restaurant-address {
    font-size: 0.7rem;

}

.design5 .contact-number,
.website {
    font-weight: 200;
    font-size: 0.7rem;
}



/* card 6 styles  */

.design6 .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}

.design6 .logo img {

    width: 3rem;
    border-radius: 50%;

}

.design6 .menu-image {
    width: 200px;
    height: 200px;
    overflow: hidden;
    border-radius: 50%;
    margin: 0 auto;

}

.design6 .menu-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;


}


.design6 .restaurant-name {
    margin-top: 0.5rem;
    font-size: 0.8rem;
    /* letter-spacing: 1px;  */
}

.design6 .restaurant-address {
    font-size: 0.7rem;

}

.design6 .card {
    background:
        url("../images/bg-texture-6.png"),
        #b72e37;

    background-size:
        cover;
    border: none;
    border-radius: 15px;
    color: #fff;
}


.design6 .card-description {
    text-align: center;
    font-size: 12px;
    margin-left: 2rem;
    margin-right: 2rem;
    margin-bottom: 1rem;
    color: #000;
    margin-top: 1rem;
}

.design6 .contact-number,
.website {
    font-weight: 200;
    font-size: 0.7rem;
}



.design6 .card-heading1 {
    font-family: "Lavishly Yours", cursive;
    font-size: 36px;
    margin: 0;
    line-height: 1.1;
    margin-top: 1rem;
}

.design6 .card-heading2 {
    font-family: "Montserrat", sans-serif;
    font-size: 36px;
    font-weight: 900;
    margin: 0;
    line-height: 1.1;
    margin-top: -6px;
    margin-bottom: 0.5rem;

}



/* card 7 style  */


.design7 .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}

.design7 .logo img {

    width: 3rem;
    border-radius: 50%;

}

.design7 .restaurant-name {
    margin-top: 0.5rem;
    font-size: 0.8rem;
    /* letter-spacing: 1px;  */
}

.design7 .restaurant-address {
    font-size: 0.7rem;

}


.design7 .image-wrapper {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.design7 .bg-image img {
    width: 15rem;
    display: block;
}

.design7 .menu-image {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -52%); 

}

.design7 .menu-image img {
    width: 15rem; 
    height: 6rem;
}

.design7 .card-description {
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 2rem;
    margin-right: 2rem;

    text-transform: uppercase;
}

.design7 .card-text {
    text-align: center;
    font-size: 8px;
    font-weight: 600;
}

.design7 .contact-number,
.website {
    font-weight: 200;
    font-size: 0.7rem;
}

.design7 .card-heading1 {
    font-family: "Oswald", sans-serif;
    font-weight: 900;
    font-size: 60px;
    margin: 0;
    line-height: 1.1;
    color: #b72e37;
}

.design7 .card-heading2 {
    font-family: "Oswald", sans-serif;
    font-size: 70px;
    font-weight: 900;
    margin: 0;
    line-height: 1;
    margin-top: -6px;
    margin-bottom: 1.5rem;
    letter-spacing: 2px;


    -webkit-text-stroke: 1px #b72e37;
    -webkit-text-fill-color: transparent;
}


 /* card 8 styles */



 .design8 .logo {
    display: flex;
    justify-content: start;
    align-items: center;
    margin: 1rem;
}

.design8 .logo img {

    width: 3rem;
    border-radius: 50%;

}


.design8 .menu-image {
    width: 200px;
    height: 200px;
    overflow: hidden;
    border-radius: 50%;
    margin: 0 auto;

}

.design8 .menu-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;


}

.design8 .card {
    background:
        linear-gradient(160deg, #b72e37 50%, #feefce 50%);
    border: none;
    border-radius: 15px;
    color: #fff;
}

.design8 .card-description {
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 2rem;
    margin-right: 2rem;

    text-transform: uppercase;
    color: #000;
}

.design8 .card-text {
    text-align: center;
    font-size: 8px;
    font-weight: 600;
}

.design8 .restaurant-name {
    font-size: 0.8rem;
    /* letter-spacing: 1px;  */
}

.design8 .restaurant-address {
    font-size: 0.7rem;

}

.design8 .contact-number,
.website {
    font-weight: 200;
    font-size: 0.7rem;
}


.design8 .card-heading1 {
    font-family: "Oswald", sans-serif;
    font-weight: 900;
    font-size: 50px;
    margin: 0;
    line-height: 1.1;
    color: #feefce;
}

.design8 .card-heading2 {
    font-family: "Oswald", sans-serif;
    font-size: 60px;
    font-weight: 900;
    line-height: 1;
    margin-top: -6px;
    /* margin-bottom: 0.5rem; */
    letter-spacing: 2px;


    -webkit-text-stroke: 1px #feefce;
    -webkit-text-fill-color: transparent;
}



/* design 8 styles */



.design9 .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}

.design9 .logo img {

    width: 3rem;
    border-radius: 50%;

}

.design9 .restaurant-name {
    margin-top: 0.5rem;
    font-size: 0.8rem;
    color: white;
    /* letter-spacing: 1px;  */
}

.design9 .restaurant-address {
    font-size: 0.7rem;
    color: white;
}


.design9 .menu-image {

    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0.5rem;
}

.design9 .menu-image img {

    width: 100%;
    margin-bottom: 0.8rem;

}

.design9 .card-description {
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 2rem;
    margin-right: 2rem;

    /* text-transform: uppercase; */
    color: #ffffff;
}

.design9 .card-text {
    text-align: center;
    font-size: 10px;
    font-weight: 400;
}


.design9 .card {
    background:  url("../images/texture-wall.png"),
        #d74311;
         background-size:
        cover;
    border: none;
    border-radius: 15px;
    color: #fff;
}


.design9 .contact-number,
.design9 .website {
    font-weight: 200;
    font-size: 0.7rem;
    color: white;
}


.design9 .image-wrapper {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.design9 .bg-image img {
    width: 20rem;
    display: block;
}

.design9 .menu-image {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -48%); 

}

.design9 .menu-image img {
    width: 12.5rem; 
    height: 8rem;
}



.design9 .card-heading1 {
    font-family: "Oswald", sans-serif;
    font-weight: 900;
    font-size: 75px;
    margin: 0;
    line-height: 1.1;
    color: #feefce;
}

.design9 .card-heading2 {
    font-family: "Oswald", sans-serif;
    font-size: 60px;
    font-weight: 900;
    line-height: 1;
    margin-top: -6px;
    /* margin-bottom: 0.5rem; */
    letter-spacing: 2px;


    -webkit-text-stroke: 1px #feefce;
    -webkit-text-fill-color: transparent;
}

.design9 .card-heading3 {
    font-family: "Oswald", sans-serif;
    font-weight: 900;
    font-size: 65px;
    margin: 0;
    line-height: 1.1;
    color: #feefce;
}
